/TAGS
/*.nix
/dist/
/dist-newstyle/
/output/
/.hpc/
/.vscode/
/misc/win7-taskbar/Taskbar.suo
/misc/win7-taskbar/bin/
/misc/win7-taskbar/obj/
/docs/manual/_shake/
/docs/manual/_build/
/website/output/
/website/.stack-work/
/.stack-work/
/stack.yaml
/issues
/hlint.html
/html/lib/
/cabal.project.local
