# Paths to builders:
# ==================

system-ghc     = /usr/local/bin/ghc
system-ghc-pkg = /usr/local/bin/ghc-pkg

ghc-cabal      = C:/msys64/home/chEEtah/ghc/inplace/bin/ghc-cabal

ghc-stage1     = C:/msys64/home/chEEtah/ghc/inplace/bin/ghc-stage1
ghc-stage2     = C:/msys64/home/chEEtah/ghc/inplace/bin/ghc-stage2
ghc-stage3     = C:/msys64/home/chEEtah/ghc/inplace/bin/ghc-stage3

ghc-pkg        = C:/msys64/home/chEEtah/ghc/inplace/bin/ghc-pkg

gcc            = C:/msys64/home/chEEtah/ghc/inplace/mingw/bin/gcc.exe
ld             = C:/msys64/home/chEEtah/ghc/inplace/mingw/bin/ld.exe
ar             = /mingw64/bin/ar
alex           = /usr/local/bin/alex
happy          = /usr/local/bin/happy
hscolour       = 

# Information about builders:
#============================

gcc-is-clang = 
gcc-lt-46    = NO

# Build options:
#===============

lax-dependencies     = NO
dynamic-ghc-programs = NO

# Information about host and target systems:
# ==========================================

target-os            = mingw32
target-arch          = x86_64
target-platform-full = x86_64-unknown-mingw32

host-os-cpp          = mingw32

cross-compiling      = NO

# Compilation and linking flags:
#===============================

conf-cc-args-stage-0         =  -fno-stack-protector
conf-cc-args-stage-1         =  -fno-stack-protector
conf-cc-args-stage-2         =  -fno-stack-protector

conf-cpp-args-stage-0        = 
conf-cpp-args-stage-1        = 
conf-cpp-args-stage-2        = 

conf-gcc-linker-args-stage-0 = 
conf-gcc-linker-args-stage-1 = 
conf-gcc-linker-args-stage-2 = 

conf-ld-linker-args-stage-0  = 
conf-ld-linker-args-stage-1  = 
conf-ld-linker-args-stage-2  = 

# Include and library directories:
#=================================

iconv-include-dirs = 
iconv-lib-dirs     = 

gmp-include-dirs   = 
gmp-lib-dirs       = 





