# trivial gitignore file
.cabal-sandbox/
cabal.sandbox.config
cabal.project.local
.ghc.environment.*
cabal-dev/
.hpc/
*.hi
*.o
*.p_hi
*.prof
*.tix
dist
dist-*
register.sh
./cabal.config
cabal-tests.log

/Cabal/dist/
/Cabal/tests/Setup
/Cabal/Setup
/Cabal/source-file-list

/cabal-install/dist/
/cabal-install/Setup
/cabal-install/source-file-list


# editor temp files

*#
.#*
*~
.*.swp
*.bak

# GHC build

Cabal/GNUmakefile
Cabal/dist-boot/
Cabal/dist-install/
Cabal/ghc.mk


# TAGS files
TAGS
tags

# stack artifacts
/.stack-work/

# Shake artifacts
.shake*
progress.txt

# test files
register.sh

# python artifacts from documentation builds
*.pyc
