[submodule "libraries/Cabal"]
	path = libraries/Cabal
	url = https://github.com/stable-haskell/Cabal.git
	ignore = untracked
	branch = wip/andrea/local-store
[submodule "utils/hpc"]
	path = utils/hpc
	url = https://github.com/stable-haskell/hpc-bin.git
[submodule "libraries/libraries/hackage-security"]
	path = libraries/hackage-security
	url = https://github.com/haskell/hackage-security
