[submodule "libraries/binary"]
	path = libraries/binary
	url = ../packages/binary.git
	ignore = untracked
[submodule "libraries/bytestring"]
	path = libraries/bytestring
	url = ../packages/bytestring.git
	ignore = untracked
[submodule "libraries/Cabal"]
	path = libraries/Cabal
	url = ../packages/Cabal.git
	ignore = untracked
[submodule "libraries/containers"]
	path = libraries/containers
	url = ../packages/containers.git
	ignore = untracked
[submodule "libraries/haskeline"]
	path = libraries/haskeline
	url = ../packages/haskeline.git
	ignore = untracked
[submodule "libraries/pretty"]
	path = libraries/pretty
	url = ../packages/pretty.git
	ignore = untracked
[submodule "libraries/terminfo"]
	path = libraries/terminfo
	url = ../packages/terminfo.git
	ignore = untracked
[submodule "libraries/transformers"]
	path = libraries/transformers
	url = ../packages/transformers.git
	ignore = untracked
[submodule "libraries/xhtml"]
	path = libraries/xhtml
	url = ../packages/xhtml.git
	ignore = untracked
[submodule "libraries/Win32"]
	path = libraries/Win32
	url = ../packages/Win32.git
	ignore = untracked
[submodule "libraries/primitive"]
	path = libraries/primitive
	url = ../packages/primitive.git
	ignore = untracked
[submodule "libraries/vector"]
	path = libraries/vector
	url = ../packages/vector.git
	ignore = untracked
[submodule "libraries/time"]
	path = libraries/time
	url = ../packages/time.git
	ignore = untracked
[submodule "libraries/random"]
	path = libraries/random
	url = ../packages/random.git
	ignore = untracked
