/dist/
/haddock-api/dist/
/haddock-library/dist/
/html-test/out/
/hypsrc-test/out/
/latex-test/out/

/doc/haddock
/doc/haddock.ps
/doc/haddock.pdf
/doc/autom4te.cache/
/doc/config.log
/doc/config.mk
/doc/config.status
/doc/configure
tags
TAGS

.cabal-sandbox
cabal.sandbox.config
