.hpc.IOError001
.hpc.IOError002
.hpc.T2122
.hpc.T4144
.hpc.T4808
.hpc.T4855
.hpc.T4895
.hpc.T7853
.hpc.concio002
.hpc.countReaders001
.hpc.decodingerror001
.hpc.decodingerror002
.hpc.encoding001
.hpc.encoding002
.hpc.encoding003
.hpc.encoding004
.hpc.encodingerror001
.hpc.finalization001
.hpc.hClose001
.hpc.hClose002
.hpc.hClose003
.hpc.hDuplicateTo001
.hpc.hFileSize001
.hpc.hFileSize002
.hpc.hFlush001
.hpc.hGetBuf001
.hpc.hGetBuffering001
.hpc.hGetChar001
.hpc.hGetLine001
.hpc.hGetLine002
.hpc.hGetLine003
.hpc.hGetPosn001
.hpc.hIsEOF001
.hpc.hIsEOF002
.hpc.hReady001
.hpc.hReady002
.hpc.hSeek001
.hpc.hSeek002
.hpc.hSeek003
.hpc.hSeek004
.hpc.hSetBuffering002
.hpc.hSetBuffering003
.hpc.hSetBuffering004
.hpc.hSetEncoding001
.hpc.ioeGetErrorString001
.hpc.ioeGetFileName001
.hpc.ioeGetHandle001
.hpc.isEOF001
.hpc.misc001
.hpc.newline001
.hpc.openFile001
.hpc.openFile002
.hpc.openFile003
.hpc.openFile004
.hpc.openFile005
.hpc.openFile006
.hpc.openFile007
.hpc.openFile008
.hpc.openTempFile001
.hpc.putStr001
.hpc.readFile001
.hpc.readwrite001
.hpc.readwrite002
.hpc.readwrite003
T2122
T2122-test
T3307
T4808
T4808.test
T4855
T4895
T7853
encoding003
encoding004
openFile003Dir
