.result.admonition {
  border: solid 3px #eee;
  border-top: none;
  background-color: transparent;
  padding: 1px 0px 10px 10px;
  margin: 0px 0px -20px 0px;
  position: relative;
  top: -18px;
}

.result.admonition p.admonition-title{
  position: absolute;
  visibility: hidden;
}

/* Use a small font size for code blocks so that they don't overflow. */
pre {
  font-size: 0.8em;
}
