.hpc*/
*.o
*.hi
*.comp.std*
*.run.std*
*.eventlog
*.genscript
*.exe
*.interp.stderr
*.interp.stdout

# specific files
/T1185
/T3816
/T8108
/executeFile001
/fdReadBuf001
/fileStatus
/fileStatusByteString
/fileexist01
/forkprocess01
/getEnvironment01
/getEnvironment02
/getGroupEntryForName
/getUserEntryForName
/libposix/po003.out
/libposix/posix002
/libposix/posix003
/libposix/posix004
/libposix/posix005
/libposix/posix006
/libposix/posix009
/libposix/posix010
/libposix/posix014
/processGroup001
/processGroup002
/queryfdoption01
/resourceLimit
/signals001
/signals002
/signals004
/user001
