*.eventlog
*.genscript

*.stderr.normalised
*.stdout.normalised
*.comp.stderr
*.comp.stdout
*.interp.stderr
*.interp.stdout
*.run.stderr
*.run.stdout

.hpc.*/
.hpc/

# specific files
/CPUTime001
/Concurrent/4876
/Concurrent/Chan002
/Concurrent/Chan003
/Concurrent/ThreadDelay001
/IO/IOError001
/IO/IOError002
/IO/T2122
/IO/T2122-test
/IO/T3307
/IO/T4144
/IO/T4808
/IO/T4808.test
/IO/T4855
/IO/T4895
/IO/T7853
/IO/chinese-file-*
/IO/chinese-name
/IO/concio002
/IO/countReaders001
/IO/countReaders001.txt
/IO/decodingerror001
/IO/decodingerror002
/IO/encoding001
/IO/encoding001.utf16
/IO/encoding001.utf16.utf16be
/IO/encoding001.utf16.utf16le
/IO/encoding001.utf16.utf32
/IO/encoding001.utf16.utf32be
/IO/encoding001.utf16.utf32le
/IO/encoding001.utf16.utf8
/IO/encoding001.utf16.utf8_bom
/IO/encoding001.utf16be
/IO/encoding001.utf16be.utf16
/IO/encoding001.utf16be.utf16le
/IO/encoding001.utf16be.utf32
/IO/encoding001.utf16be.utf32be
/IO/encoding001.utf16be.utf32le
/IO/encoding001.utf16be.utf8
/IO/encoding001.utf16be.utf8_bom
/IO/encoding001.utf16le
/IO/encoding001.utf16le.utf16
/IO/encoding001.utf16le.utf16be
/IO/encoding001.utf16le.utf32
/IO/encoding001.utf16le.utf32be
/IO/encoding001.utf16le.utf32le
/IO/encoding001.utf16le.utf8
/IO/encoding001.utf16le.utf8_bom
/IO/encoding001.utf32
/IO/encoding001.utf32.utf16
/IO/encoding001.utf32.utf16be
/IO/encoding001.utf32.utf16le
/IO/encoding001.utf32.utf32be
/IO/encoding001.utf32.utf32le
/IO/encoding001.utf32.utf8
/IO/encoding001.utf32.utf8_bom
/IO/encoding001.utf32be
/IO/encoding001.utf32be.utf16
/IO/encoding001.utf32be.utf16be
/IO/encoding001.utf32be.utf16le
/IO/encoding001.utf32be.utf32
/IO/encoding001.utf32be.utf32le
/IO/encoding001.utf32be.utf8
/IO/encoding001.utf32be.utf8_bom
/IO/encoding001.utf32le
/IO/encoding001.utf32le.utf16
/IO/encoding001.utf32le.utf16be
/IO/encoding001.utf32le.utf16le
/IO/encoding001.utf32le.utf32
/IO/encoding001.utf32le.utf32be
/IO/encoding001.utf32le.utf8
/IO/encoding001.utf32le.utf8_bom
/IO/encoding001.utf8
/IO/encoding001.utf8.utf16
/IO/encoding001.utf8.utf16be
/IO/encoding001.utf8.utf16le
/IO/encoding001.utf8.utf32
/IO/encoding001.utf8.utf32be
/IO/encoding001.utf8.utf32le
/IO/encoding001.utf8.utf8_bom
/IO/encoding001.utf8_bom
/IO/encoding001.utf8_bom.utf16
/IO/encoding001.utf8_bom.utf16be
/IO/encoding001.utf8_bom.utf16le
/IO/encoding001.utf8_bom.utf32
/IO/encoding001.utf8_bom.utf32be
/IO/encoding001.utf8_bom.utf32le
/IO/encoding001.utf8_bom.utf8
/IO/encoding002
/IO/encoding003
/IO/encoding004
/IO/encodingerror001
/IO/environment001
/IO/finalization001
/IO/hClose001
/IO/hClose001.tmp
/IO/hClose002
/IO/hClose002.tmp
/IO/hClose003
/IO/hDuplicateTo001
/IO/hFileSize001
/IO/hFileSize002
/IO/hFileSize002.out
/IO/hFlush001
/IO/hFlush001.out
/IO/hGetBuf001
/IO/hGetBuffering001
/IO/hGetChar001
/IO/hGetLine001
/IO/hGetLine002
/IO/hGetLine003
/IO/hGetPosn001
/IO/hGetPosn001.out
/IO/hIsEOF001
/IO/hIsEOF002
/IO/hIsEOF002.out
/IO/hReady001
/IO/hReady002
/IO/hSeek001
/IO/hSeek002
/IO/hSeek003
/IO/hSeek004
/IO/hSeek004.out
/IO/hSetBuffering002
/IO/hSetBuffering003
/IO/hSetBuffering004
/IO/hSetEncoding001
/IO/ioeGetErrorString001
/IO/ioeGetFileName001
/IO/ioeGetHandle001
/IO/isEOF001
/IO/misc001
/IO/misc001.out
/IO/newline001
/IO/newline001.out
/IO/openFile001
/IO/openFile002
/IO/openFile003
/IO/openFile003Dir
/IO/openFile004
/IO/openFile004.out
/IO/openFile005
/IO/openFile005.out1
/IO/openFile005.out2
/IO/openFile006
/IO/openFile006.out
/IO/openFile007
/IO/openFile007.out
/IO/openFile008
/IO/openTempFile001
/IO/putStr001
/IO/readFile001
/IO/readFile001.out
/IO/readwrite001
/IO/readwrite001.inout
/IO/readwrite002
/IO/readwrite002.inout
/IO/readwrite003
/IO/readwrite003.txt
/IO/tmp
/Numeric/num001
/Numeric/num002
/Numeric/num003
/Numeric/num004
/Numeric/num005
/Numeric/num006
/Numeric/num007
/Numeric/num008
/Numeric/num009
/Numeric/num010
/System/T5930
/System/Timeout001
/System/exitWith001
/System/getArgs001
/System/getEnv001
/System/system001
/T2528
/T4006
/T5943
/T5962
/T7034
/T7457
/T7653
/T7773
/T7787
/T8766
/T8766.stats
/Text.Printf/T1548
/addr001
/assert
/char001
/char002
/cstring001
/data-fixed-show-read
/dynamic001
/dynamic002
/dynamic003
/dynamic004
/dynamic005
/echo001
/enum01
/enum02
/enum03
/enum04
/enumDouble
/enumRatio
/exceptionsrun001
/exceptionsrun002
/fixed
/genericNegative001
/hGetBuf002
/hGetBuf003
/hPutBuf001
/hPutBuf002
/hPutBuf002.out
/hTell001
/hTell002
/hash001
/ioref001
/ix001
/length001
/lex001
/list001
/list002
/list003
/memo001
/memo002
/performGC001
/qsem001
/qsemn001
/quotOverflow
/rand001
/ratio001
/readDouble001
/readFixed001
/readFloat
/readInteger001
/readLitChar
/reads001
/show001
/showDouble
/stableptr001
/stableptr003
/stableptr004
/stableptr005
/take001
/tempfiles
/text001
/topHandler01
/topHandler02
/topHandler03
/trace001
/tup001
/unicode001
/unicode002
/weak001
/T9395
/T9532
