.hpc.CPUTime001
.hpc.CatEntail
.hpc.CatPairs
.hpc.T4006
.hpc.T5943
.hpc.T5962
.hpc.T7034
.hpc.T7457
.hpc.T7653
.hpc.T7773
.hpc.T7787
.hpc.addr001
.hpc.assert
.hpc.char001
.hpc.char002
.hpc.cstring001
.hpc.data-fixed-show-read
.hpc.dynamic001
.hpc.dynamic002
.hpc.dynamic003
.hpc.dynamic004
.hpc.dynamic005
.hpc.echo001
.hpc.enum01
.hpc.enum02
.hpc.enum03
.hpc.enum04
.hpc.enumDouble
.hpc.enumRatio
.hpc.exceptionsrun001
.hpc.exceptionsrun002
.hpc.fixed
.hpc.genericNegative001
.hpc.hGetBuf002
.hpc.hGetBuf003
.hpc.hPutBuf001
.hpc.hPutBuf002
.hpc.hTell001
.hpc.hTell002
.hpc.ioref001
.hpc.ix001
.hpc.length001
.hpc.lex001
.hpc.list001
.hpc.list002
.hpc.list003
.hpc.memo001
.hpc.memo002
.hpc.performGC001
.hpc.qsem001
.hpc.qsemn001
.hpc.quotOverflow
.hpc.rand001
.hpc.ratio001
.hpc.readDouble001
.hpc.readFixed001
.hpc.readFloat
.hpc.readInteger001
.hpc.readLitChar
.hpc.reads001
.hpc.show001
.hpc.showDouble
.hpc.stableptr001
.hpc.stableptr003
.hpc.stableptr004
.hpc.stableptr005
.hpc.take001
.hpc.tempfiles
.hpc.text001
.hpc.topHandler01
.hpc.topHandler02
.hpc.topHandler03
.hpc.trace001
.hpc.tup001
.hpc.unicode001
.hpc.unicode002
.hpc.weak001
T4006
T5943
T5962
T7034
T7457
T7653
T7773
T7787
T8766
T8766.stats
qsem001
qsemn001
readFixed001
topHandler01
topHandler02
topHandler03
