/dist/
/dist-newstyle/
/haddock-api/dist/
/haddock-library/dist/
/haddock-test/dist/
/html-test/out/
/hypsrc-test/out/
/latex-test/out/
/hoogle-test/out/
/html-test/one-shot-out/
/hypsrc-test/one-shot-out/
/latex-test/one-shot-out/
/hoogle-test/one-shot-out/

*.o
*.hi
*.dyn_o
*.dyn_hi
*.hp

/doc/haddock
/doc/haddock.ps
/doc/haddock.pdf
/doc/autom4te.cache/
/doc/config.log
/doc/config.mk
/doc/config.status
/doc/configure
tags
TAGS

/haddock-api/resources/html/node_modules
/haddock-api/resources/html/*.js.map

.cabal-sandbox
.ghc.environment.*
cabal.sandbox.config
cabal.project.local
cabal.project.local~

.stack-work/

.hspec-failures
