.hpc*/
*.o
*.hi
*.comp.std*
*.run.std*
*.eventlog
*.genscript
*.exe

# specific files
/T1780
/T3231
/T3994
/T4198
/T4889
/T8343
/process001
/process001.out
/process002
/process002.out
/process003
/process004
/process005
/process006
/process007
/process007.tmp
/process007_fd
/process008
/process009
/process010
/process011
