# will have compiled files and executables
target/

# Remove Cargo.lock from gitignore if creating an executable, leave it for libraries
# More information here https://doc.rust-lang.org/cargo/guide/cargo-toml-vs-cargo-lock.html
Cargo.lock

# VSCode
/.vscode/

# build.py & bench.sh
/*.dylib
/*.so

*.o
*.hi
mmtk/src/mmtk-heap-closure-test/dist-newstyle/