*.stderr
!compact_serialize.stderr
*.stdout
.hpc.*
*.eventlog
*.genscript
compact_append
compact_simple
compact_nospace
compact_noshare
compact_loop
compact_resize
compact_inc_append
compact_inc_simple
compact_inc_nospace
compact_inc_noshare
compact_autoexpand
compact_inc_custom
compact_inc_incremental
compact_inc_monad
compact_simple_symbols  
