sm_lock_held;

may_take_sm_lock
    -> !sm_lock_held;

may_call_sm
    -> sm_lock_held | gc_block_alloc_spin_held;

sharing_sm_lock
    -> sm_lock_held;

gc_block_alloc_spin_held
    -> sharing_sm_lock;

.enforce "Storage.c";
.enforce "GC.c";
.enforce "MarkWeaks.c";
.enforce "Weak.c";
.enforce "Evac.c";
.enforce "Scav.c";
.enforce "GCUtils.c";
.enforce "BlockAlloc.c";
