*.hi
*.o
*~
.hpc/*
Setup
Setup.exe*
TAGS
autom4te.cache/*
config.log
config.mk
config.status
configure
dist/*
dist-newstyle/*
include/HsNetworkConfig.h
include/HsNetworkConfig.h.in
network.buildinfo
cabal.sandbox.config
.cabal-sandbox
.stack-work/
.ghc.*
