/* -------- Global things --------- */

BODY { 
  background-color: #ffffff;
  color: #000000;
  font-family: sans-serif;
  } 

A:link    { color: #0000e0; text-decoration: none }
A:visited { color: #0000a0; text-decoration: none }
A:hover   { background-color: #e0e0ff; text-decoration: none }

TABLE.vanilla {
  width: 100%;
  border-width: 0px;
  /* I can't seem to specify cellspacing or cellpadding properly using CSS... */
}

TABLE.vanilla2 {
  border-width: 0px;
}

/* <TT> font is a little too small in MSIE */
TT  { font-size: 100%; }
PRE { font-size: 100%; }

LI P { margin: 0pt } 

TD {
  border-width: 0px;
}

TABLE.narrow {
  border-width: 0px;
}

TD.s8  {  height: 8px;  }
TD.s15 {  height: 15px; }

SPAN.keyword { text-decoration: underline; }

/* Resize the buttom image to match the text size */
IMG.coll { width : 0.75em; height: 0.75em; margin-bottom: 0; margin-right: 0.5em }

/* --------- Contents page ---------- */

DIV.node {
  padding-left: 3em;
}

DIV.cnode {
  padding-left: 1.75em;
}

SPAN.pkg {
  position: absolute;
  left: 50em;
}

/* --------- Documentation elements ---------- */

TD.children {
  padding-left: 25px;
  }

TD.synopsis {
  padding: 2px;
  background-color: #f0f0f0;
  font-family: monospace
 }

TD.decl { 
  padding: 2px;
  background-color: #f0f0f0; 
  font-family: monospace;
  vertical-align: top;
  }

TD.topdecl {
  padding: 2px;
  background-color: #f0f0f0;
  font-family: monospace;
  vertical-align: top;
}

TABLE.declbar {
  border-spacing: 0px;
 }

TD.declname {
  width: 100%;
 }

TD.declbut {
  padding-left: 5px;
  padding-right: 5px;
  border-left-width: 1px;
  border-left-color: #000099;
  border-left-style: solid;
  white-space: nowrap;
  font-size: small;
 }

/* 
  arg is just like decl, except that wrapping is not allowed.  It is
  used for function and constructor arguments which have a text box
  to the right, where if wrapping is allowed the text box squashes up
  the declaration by wrapping it.
*/
TD.arg { 
  padding: 2px;
  background-color: #f0f0f0; 
  font-family: monospace;
  vertical-align: top;
  white-space: nowrap;
  }

TD.recfield { padding-left: 20px }

TD.doc  { 
  padding-top: 2px;
  padding-left: 10px;
  }

TD.ndoc  { 
  padding: 2px;
  }

TD.rdoc  { 
  padding: 2px;
  padding-left: 10px;
  width: 100%;
  }

TD.body  { 
  padding-left: 10px
  }

TD.pkg {
  width: 100%;
  padding-left: 10px
}

TABLE.indexsearch TR.indexrow {
  display: none;
}
TABLE.indexsearch TR.indexshow {
  display: table-row;
}

TD.indexentry {
  vertical-align: top;
  padding-right: 10px
  }

TD.indexannot {
  vertical-align: top;
  padding-left: 20px;
  white-space: nowrap
  }

TD.indexlinks {
  width: 100%
  }

/* ------- Section Headings ------- */

TD.section1 {
  padding-top: 15px;
  font-weight: bold;
  font-size: 150%
  }

TD.section2 {
  padding-top: 10px;
  font-weight: bold;
  font-size: 130%
  }

TD.section3 {
  padding-top: 5px;
  font-weight: bold;
  font-size: 110%
  }

TD.section4 {
  font-weight: bold;
  font-size: 100%
  }

/* -------------- The title bar at the top of the page */

TD.infohead {
  color: #ffffff;
  font-weight: bold;
  padding-right: 10px;
  text-align: left;
}

TD.infoval {
  color: #ffffff;
  padding-right: 10px;
  text-align: left;
}

TD.topbar {
  background-color: #000099;
  padding: 5px;
}

TD.title {
  color: #ffffff;
  padding-left: 10px;
  width: 100%
  }

TD.topbut {
  padding-left: 5px;
  padding-right: 5px;
  border-left-width: 1px;
  border-left-color: #ffffff;
  border-left-style: solid;
  white-space: nowrap;
  }

TD.topbut A:link {
  color: #ffffff
  }

TD.topbut A:visited {
  color: #ffff00
  }

TD.topbut A:hover {
  background-color: #6060ff;
  }

TD.topbut:hover {
  background-color: #6060ff
  }

TD.modulebar { 
  background-color: #0077dd;
  padding: 5px;
  border-top-width: 1px;
  border-top-color: #ffffff;
  border-top-style: solid;
  }

/* --------- The page footer --------- */

TD.botbar {
  background-color: #000099;
  color: #ffffff;
  padding: 5px
  }
TD.botbar A:link {
  color: #ffffff;
  text-decoration: underline
  }
TD.botbar A:visited {
  color: #ffff00
  }
TD.botbar A:hover {
  background-color: #6060ff
  }

