/* @group Fundamentals */

* { margin: 0; padding: 0 }

/* Is this portable? */
html {
/*   background-color: #f4f7f9; */
  background-color: white;
  width: 100%;
}

body {
  font-family: sans-serif;
  background: white;
  color: black;
  margin: 0 auto;
  max-width: 50em;
  text-align: left;
  line-height: 1.4;
  padding: 0 1em;
}

p { margin: 0.5em 0; }

ul { margin-left: 2em; }

a { text-decoration: none; }
a:link { color: rgb(196,69,29); }
a:visited { color: rgb(171,105,84); }
a:hover { text-decoration:underline; }

h1 { font-size: 150%; }
h2 { font-size: 130%; }
h3 { font-size: 120%; }
h4 { font-size: 110%; }
h5 { font-size: 105%; }

/* a:hover { background: #D9CBB8; } */

/* @end */

/* @group Common */

.caption, h1, h2, h3, h4, h5, h6 { 
  font-weight: bold;
  color: rgb(78,98,114);
  margin: 0.8em 0 0.5em;
}

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
  margin-top: 4em;
}

h1 + h2, h2 + h3, h3 + h4, h4 + h5, h5 + h6 {
  margin-top: inherit;
}

ul.links {
  list-style: none;
  text-align: left;
  position: absolute;
  right: 5px;
  top: 5px;
  display: inline-table;
}

ul.links li {
  display: inline;
/*   border-left: 1px solid rgb(78,98,114); */
  white-space: nowrap;
  padding: 0;
}

ul.links li a { padding: 5px 10px; }

.hide { display: none; }
.show { }

pre {
  padding: 0.5em;
  margin: 0.5em 5em 0.5em 3em;
  background: rgb(229,237,244);
}

code { /* background: #f0f0f0; */ }

.src {
  font-family: monospace;
  line-height: normal;
  white-space: nowrap;
  background: #f0f0f0;
  padding: 0.2em 0.5em;
}

.doc p, .doc pre {
  margin-top: 1em;
}

.keyword { font-weight: bold; }
.def { font-weight: bold; }

img.coll {
	width : 0.75em;
	height: 0.75em;
	margin: 0 0.5em 0 0;
}


/* @end */

/* @group Page Structure */

#package-header {
  background: rgb(41,56,69) url(hslogo-16.png) no-repeat 5px;
  border-top: 5px solid rgb(78,98,114);
  color: #ddd;
  padding: 5px;
  position: relative;
  text-align: left;
}

#package-header a:link, #package-header a:visited { color: white; }
#package-header a:hover { background: rgb(78,98,114); }
#package-header .caption {
  color: white;
  margin: 0 0 0 30px;
  font-weight: normal;
  font-style: normal;
}

#module-header .caption {
  color: rgb(78,98,114);
  font-size: 200%;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

dl.info {
  float: right;
  padding: 0.5em 1em;
  border: 1px solid #ddd;
  font-size: 75%;
  color: rgb(78,98,114);
  background-color: #fff;
  max-width: 20em;
  margin-top: -6em;
  margin-bottom: 1em;
}

dl.info dt {
	float: left;
	width: 5em;
	font-weight: bold;
	display: block;
}

dl.info dd {
	display: block;
	padding-left: 6em;
}

div#style-menu-holder {
  position: relative;
  z-index: 2;
  display: inline;
}

#style-menu {
  position: absolute;
  z-index: 1;
  overflow: visible;
  background: rgb(41,56,69);
/* 	background-color: #eaeaea; */
  margin: 0;
  width: 6em;
  text-align: center;
  right: 0;
  padding: 0 2px 1px;
  border-left: 1px solid #919191;
  border-right: 1px solid #919191;
  border-bottom: 1px solid #919191;
}

#style-menu li {
	display: list-item;
	border-style: none;
	margin: 0;
	padding: 3px;
	color: #000;
	list-style-type: none;
}

#style-menu li + li {
	border-top: 1px solid #919191;
}

#footer {
  margin: 1em 0 0 0;
  background: #ddd;
  border-top: 1px solid #aaa;
  padding: 0.5em;
  color: #666;
  text-align: center;
}

/* @end */

/* @group Front Matter */

#table-of-contents {
  float: right;
  clear: right;
  background: rgb(239,238,209);
  border: 1px solid rgba(196,69,29,0.2);
  font-size: 75%;
  padding: 0.5em 1em;
  position: relative;
  top: 0em; /* use -5em to pull up into title area */
  margin: 0 0 1em 1em;
  max-width: 20em;
}

#table-of-contents .caption {
  text-align: center;
  margin: 0;
}

#table-of-contents ul {
  list-style: none;
  margin-left: 0;
}

#table-of-contents ul ul {
  margin-left: 2em;
}

#description .caption {
  display: none;
}

#synopsis {
  display: none;
}

/* @end */

/* @group Main Content */

#interface div.top { margin: 1em 0 0.5em 0; }

#interface table { border-spacing: 2px; }
#interface td {
  vertical-align: top;
  padding-left: 0.5em;
}
#interface td.doc p {
  margin: 0;
}
#interface td.doc p + p {
  margin-top: 0.5em;
}

/* div.top code { border: 1px solid #ddd; } */
.top p.src {
  border-top: 1px solid #ccc;
}

/* @group Left Margin */

.subs, .doc {
  /* use this selector for one level of indent */
  padding-left: 2em;
}

/* use these two for two levels of indent */
/*
#description .doc, #interface div.top {
  padding-left: 1.25em;
}

div.top .subs, div.top .doc {
  padding-left: 1.875em;
}
*/
/* @end */

.fields .caption { display: none; }

.fields p { margin: 0 0; }

.methods, .constructors {
  background: #f8f8f8;
  border: 1px solid #eee;
}

.fields { padding-left: 1em; }

/* @end */

/* @group Auxillary Pages */

#mini #interface h1,
#mini #interface h2,
#mini #interface h3,
#mini #interface h4
{
  margin-bottom: 0;
}
#mini #interface .top,
#mini #interface .src {
  margin: 0;
}

#mini #module-list ul {
  list-style: none;
  margin: 0;
}

#alphabet ul {
	list-style: none;
	padding: 0;
	margin: 0.5em 0 0;
	text-align: center;
}

#alphabet li {
	display: inline;
	margin: 0 0.25em;
}

#alphabet a {
	font-weight: bold;
}

#index .caption,
#module-list .caption { font-size: 130%; }

#index table {
  margin-left: 2em;
}

#index .src {
  font-weight: bold;
}
#index .alt {
  font-size: 70%;
  font-style: italic;
  padding-left: 2em;
}

#index td + td {
  padding-left: 1em;
}

#module-list ul {
  list-style: none;
  margin: 0 0 0 2em;
}

#module-list .package {
  float: right;
}

/* @end */
