* {
	margin: 0;
	padding: 0;
}

body { 
  	background-color: #ffffff;
  	color: #000000;
  	font-size: 100%;
	font-family: sans-serif;
	padding: 8px;
}

a:link    { color: #0000e0; text-decoration: none }
a:visited { color: #0000a0; text-decoration: none }
a:hover   { background-color: #e0e0ff; text-decoration: none }

/* <tt> font is a little too small in MSIE */
tt  { font-size: 100%; }
pre { font-size: 100%; }
.keyword { text-decoration: underline; }
.caption {
	font-weight: bold;
	margin: 0;
	padding: 0;
}

h1 {
  padding-top: 15px;
  font-weight: bold;
  font-size: 150%;
}

h2 {
  padding-top: 10px;
  font-weight: bold;
  font-size: 130%
  }

h3 {
  padding-top: 5px;
  font-weight: bold;
  font-size: 110%
  }

h4, h5 {
  font-weight: bold;
  font-size: 100%
  }

h1, h2, h3, h4, h5 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

p  { 
	padding-top: 2px;
	padding-left: 10px;
}

ul, ol, dl {
	padding-top: 2px;
	padding-left: 10px;
	margin-left: 2.5em;
}

pre  { 
	padding-top: 2px;
	padding-left: 20px;
}

* + p, * + pre {
	margin-top: 1em;
}
.caption + p, .src + p {
	margin-top: 0;
}


#package-header {
	color: #ffffff;
	padding: 5px 5px 5px 31px;
	margin: 0 0 1px;
	background: #000099 url(haskell_icon.gif) no-repeat 5px 6px;
	position: relative;
}

#package-header a:link    { color: #ffffff }
#package-header a:visited { color: #ffff00 }
#package-header a:hover   { background-color: #6060ff; }
#package-header ul.links li:hover { background-color: #6060ff; }

ul.links {
	list-style: none;
	text-align: left;
	position: absolute;
	right: 5px;
	top: 5px;
	display: inline-table;
}

ul.links li {
	display: inline;
	border-left-width: 1px;
	border-left-color: #ffffff;
	border-left-style: solid;
	white-space: nowrap;
	padding: 1px 5px;
}

#module-header {
	background-color: #0077dd;
	padding: 5px;
	position: relative;
}

#module-header .caption {
	font-size: 200%;
	height: 1.5em;
	padding-top: .25em;
	font-weight: normal;
	font-style: normal;
}

dl.info {
	color: #ffffff;
	display: block;
	position: absolute;
	top: 3px;
	right: 5px;
}

dl.info dt {
	float: left;
	width: 5em;
	font-weight: bold;
	display: block;
}

dl.info dd {
	display: block;
	padding-left: 6em;
}

#table-of-contents {
	margin-top: 1em;
	margin-bottom: 2em;
}

#table-of-contents ul {
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	list-style-type: none;
	padding: 0;
}

#table-of-contents ul ul {
	margin-left: 2.5em;
}

#description .caption,
#synopsis .caption {
  padding-top: 15px;
  font-weight: bold;
  font-size: 150%	
}

#synopsis {
	margin-bottom: 2em;
}

#synopsis p.src {
	padding: 0;
}
#synopsis li {
  background-color: #f0f0f0; 
  font-family: monospace;
  vertical-align: top;
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 3px;
	list-style-type: none;
}

#synopsis ul {
	margin: 0;
	padding-top: 0;
}

#synopsis li ul li {
	margin: 3px;
	padding: 0;
}


div.top {
	margin-top: 1em;
	clear: left;
	margin-bottom: 1em;
}

div.top h5 {
	margin-left: 10px;
}


.src {
	padding: 3px;
	background-color: #f0f0f0;
	font-family: monospace;
	margin-bottom: 0;
}


.src a.link {
	float: right;
	border-left-width: 1px;
	border-left-color: #000099;
	border-left-style: solid;
	white-space: nowrap;
	font-size: small;
	padding: 0 4px 2px 5px;
}

div.subs {
	margin-left: 10px;
	clear: both;
	margin-top: 2px;
}

.subs dl {
	margin-left: 0;
}

.subs dl dl {
	padding-left: 0;
	padding-top: 4px;
}

.subs dt {
	float: left;
	margin-right: 1em;
	clear: left;
}

.subs dd
{
	margin-bottom: 2px;
	margin-top: 2px;
}

.subs table {
	margin-left: 10px;
	border-spacing: 1px 1px;
	margin-top: 4px;
	margin-bottom: 4px;
}

.subs table table {
	margin-left: 0;
}

.arguments .caption,
.fields .caption {
	display: none;
}

/* need extra .subs in the selector to make it override the rules for .subs and .subs table */

.subs.arguments {
	margin: 0;
}

.subs.arguments table {
	border-spacing: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.subs.arguments td.src {
	white-space: nowrap;
}

.subs.arguments + p {
	margin-top: 0;
}

p.arg {
	margin-bottom: 0;
}
p.arg span {
  background-color: #f0f0f0; 
  font-family: monospace;
  white-space: nowrap;
	float: none;
}


img.coll {
	width : 0.75em; height: 0.75em; margin-bottom: 0; margin-right: 0.5em 
}


td.arg {
  padding: 3px;
  background-color: #f0f0f0;
  font-family: monospace;
  margin-bottom: 0;
}

td.rdoc p {
	margin-bottom: 0;
}



#footer {
  background-color: #000099;
  color: #ffffff;
  padding: 4px
  }
  
#footer p {
	padding: 1px;
	margin: 0;
}

#footer  a:link {
  color: #ffffff;
  text-decoration: underline
  }
#footer  a:visited {
  color: #ffff00
  }
#footer  a:hover {
  background-color: #6060ff
  }

/* @group Original Selectors */

/* --------- Contents page ---------- */

div.node {
  padding-left: 3em;
}

div.cnode {
  padding-left: 1.75em;
}

span.pkg {
  position: absolute;
  left: 50em;
}

/* --------- Mini Synopsis for Frame View --------- */

.outer {
  margin: 0 0;
  padding: 0 0;
}

.mini-synopsis {
  padding: 0.25em 0.25em;
}

.mini-synopsis h1 { font-size: 130%; }
.mini-synopsis h2 { font-size: 110%; }
.mini-synopsis h3 { font-size: 100%; }
.mini-synopsis h1, .mini-synopsis h2, .mini-synopsis h3 {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  padding: 0 0;
}

.mini-synopsis h1 { border-bottom: 1px solid #ccc; }

.mini-topbar {
  font-size: 130%;
  background: #0077dd;
  padding: 0.25em;
}

/* @end */





