/* @group Fundamentals */

* { margin: 0; padding: 0 }

/* Is this portable? */
html {
  background-color: white;
  width: 100%;
}

body {
  background: white;
  color: black;
  text-align: left;
}

p { margin: 0.5em 0; }

ul { margin-left: 2em; }

a { text-decoration: none; }
a[href]:link { color: rgb(196,69,29); }
a[href]:visited { color: rgb(171,105,84); }
a[href]:hover { text-decoration:underline; }

/* @end */

/* @group Fonts & Sizes */

/* Basic technique & IE workarounds from YUI 3
   For reasons, see:
      http://yui.yahooapis.com/3.1.1/build/cssfonts/fonts.css
 */
 
body {
	font:13px/1.4 sans-serif;
	*font-size:small; /* for IE */
	*font:x-small; /* for IE in quirks mode */
}

h1 { font-size: 146.5%; /* 19pt */ } 
h2 { font-size: 131%;   /* 17pt */ }
h3 { font-size: 116%;   /* 15pt */ }
h4 { font-size: 100%;   /* 13pt */ }
h5 { font-size: 100%;   /* 13pt */ }

select, input, button, textarea {
	font:99% sans-serif;
}

table {
	font-size:inherit;
	font:100%;
}

pre, code, kbd, samp, tt, .src {
	font-family:monospace;
	*font-size:108%;
	line-height:116%;
}

.top > .src {
  font-size: 116%; /* 15pt */
}

.top .src .link {
  font-size: 86.2%; /* 13pt */
}

#module-header .caption {
  font-size: 182%; /* 24pt */
}

dl.info, #table-of-contents, #synopsis  {
  font-size: 85%; /* 11pt */
}


/* @end */

/* @group Common */

.caption, h1, h2, h3, h4, h5, h6 { 
  font-weight: bold;
  color: rgb(78,98,114);
  margin: 0.8em 0 0.5em;
}

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
  margin-top: 2em;
}

h1 + h2, h2 + h3, h3 + h4, h4 + h5, h5 + h6 {
  margin-top: inherit;
}

ul.links {
  list-style: none;
  text-align: left;
  float: right;
  display: inline-table;
  margin-left: 1em;
}

ul.links li {
  display: inline;
  border-left: 1px solid rgb(78,98,114); 
  white-space: nowrap;
  padding: 0;
}

ul.links li a {
  padding: 0.2em 0.5em;
}

.hide { display: none; }
.show { display: inherit; }
.clear { clear: both; }

.collapser {
  background-image: url(minus.gif);
  background-repeat: no-repeat;
}
.expander {
  background-image: url(plus.gif);
  background-repeat: no-repeat;
}
span.module.collapser,
span.module.expander {
  background-position: 0 0.3em;
}
p.caption.collapser,
p.caption.expander {
  background-position: 0 0.4em;
}
.collapser, .expander {
  padding-left: 14px;
  margin-left: -14px;
  cursor: pointer;
}

pre {
  padding: 0.5em;
/*  margin: 0.5em 5em 0.5em 3em; */
  margin: 0.5em 0 0.5em;
  background: rgb(229,237,244);
  overflow: auto;
}

.src {
  background: #f0f0f0;
  padding: 0.2em 0.5em;
}

.doc p, .doc pre {
  margin-top: 1em;
}

.keyword { font-weight: normal; }
.def { font-weight: bold; }

img.coll {
	width : 0.75em;
	height: 0.75em;
	margin: 0 0.5em 0 0;
}


/* @end */

/* @group Page Structure */

#content {
  margin: 0 auto;
  padding: 0 2em;
}

#package-header {
  background: rgb(41,56,69);
  border-top: 5px solid rgb(78,98,114);
  color: #ddd;
  padding: 0.2em;
  position: relative;
  text-align: left;
}

#package-header .caption {
  background: url(hslogo-16.png) no-repeat 0em;
  color: white;
  margin: 0 2em;
  font-weight: normal;
  font-style: normal;
  padding-left: 2em;
}

#package-header a:link, #package-header a:visited { color: white; }
#package-header a:hover { background: rgb(78,98,114); }

#module-header .caption {
  color: rgb(78,98,114);
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

dl.info {
  float: right;
  padding: 0.5em 1em;
  border: 1px solid #ddd;
  color: rgb(78,98,114);
  background-color: #fff;
  max-width: 40%;
  margin: -1em 0 1em 1em;
}

dl.info dt {
	float: left;
	width: 5em;
	font-weight: bold;
	display: block;
}

dl.info dd {
	display: block;
	padding-left: 6em;
}

div#style-menu-holder {
  position: relative;
  z-index: 2;
  display: inline;
}

#style-menu {
  position: absolute;
  z-index: 1;
  overflow: visible;
  background: #374c5e;
  margin: 0;
  text-align: center;
  right: 0;
  padding: 0;
  top: 1.25em;
}

#style-menu li {
	display: list-item;
	border-style: none;
	margin: 0;
	padding: 0;
	color: #000;
	list-style-type: none;
}

#style-menu li + li {
	border-top: 1px solid #919191;
}

#style-menu a {
  width: 6em;
  padding: 3px;
  display: block;
}

#footer {
  margin: 1em 0 0 0;
  background: #ddd;
  border-top: 1px solid #aaa;
  padding: 0.5em;
  color: #666;
  text-align: center;
}

/* @end */

/* @group Front Matter */

#table-of-contents {
  float: right;
  clear: right;
  background: rgb(239,238,209);
  border: 1px solid rgba(196,69,29,0.2);
  padding: 0.5em 1em;
  position: relative;
  top: 0em;
  margin: 0 0 1em 1em;
  max-width: 20em;
}

#table-of-contents .caption {
  text-align: center;
  margin: 0;
}

#table-of-contents ul {
  list-style: none;
  margin-left: 0;
}

#table-of-contents ul ul {
  margin-left: 2em;
}

#description .caption {
  display: none;
}

#synopsis {
  position: fixed;
  right: 0;
  height: 80%;
  top: 10%;
  padding: 0;
}

#synopsis .caption {
  text-align: right;
  float: left;
  width: 29px;
  color: rgba(255,255,255,0);
  height: 110px;
  margin: 0;
  font-size: 1px;
  padding: 0;
}

#synopsis p.caption.collapser {
  background: url(synopsis.png) no-repeat 0 -8px;
}

#synopsis p.caption.expander {
  background: url(synopsis.png) no-repeat -64px -8px;
}

#synopsis ul,
#synopsis ul li.src {
  background-color: #f9f8db;
  white-space: nowrap;
}

#synopsis ul.collapser,
#synopsis ul.expander {
  background-image: none;
  list-style: none;
  height: 100%;
  overflow: auto;
  padding: 0.5em;
  margin: 0;
}

#synopsis ul ul {
  overflow: hidden;
}

/* @end */

/* @group Main Content */

#interface div.top { margin: 1em 0 2em 0; }

#interface p.src .link {
  float: right;
  color: #919191;
  border-left: 1px solid #919191;
  background: #f0f0f0;
  padding: 0 0.5em 0.2em;
  margin: 0 -0.5em 0 0.5em;
}

#interface table { border-spacing: 2px; }
#interface td {
  vertical-align: top;
  padding-left: 0.5em;
}
#interface td.src {
  white-space: nowrap;
}
#interface td.doc p {
  margin: 0;
}
#interface td.doc p + p {
  margin-top: 0.5em;
}

#interface dt {
  float: left;
  clear: left;
  display: block;
  margin: 1px 0;
}

#interface dd {
  float: right;
  width: 90%;
  display: block;
  padding-left: 0.5em;
  margin-bottom: 0.5em;
}

#interface dd.empty {
  display: none;
}

#interface dd p {
  margin: 0;
}

.top p.src {
  border-top: 1px solid #ccc;
}

/* @group Left Margin */

.subs, .doc {
  /* use this selector for one level of indent */
  padding-left: 2em;
}

/* use these two for two levels of indent */
/*
#description .doc, #interface div.top {
  padding-left: 1.25em;
}

div.top .subs, div.top .doc {
  padding-left: 1.875em;
}
*/
/* @end */

.arguments {
  margin-top: -0.4em;
}
.arguments .caption {
  display: none;
}

.fields { padding-left: 1em; }

.fields .caption { display: none; }

.fields p { margin: 0 0; }

/* this seems bulky to me
.methods, .constructors {
  background: #f8f8f8;
  border: 1px solid #eee;
}
*/

/* @end */

/* @group Auxillary Pages */

#mini {
  font-size: 77%; /* 10pt */
  margin: 0 auto;
  padding: 0 1em;
}

#mini #module-header .caption {
  font-size: 130%;
}

#mini #interface h1,
#mini #interface h2,
#mini #interface h3,
#mini #interface h4 {
  font-size: 100%;
  margin: 1em 0 0;
}

#mini #interface .top,
#mini #interface .src {
  margin: 0;
}

#mini #module-list ul {
  list-style: none;
  margin: 0;
}

#alphabet ul {
	list-style: none;
	padding: 0;
	margin: 0.5em 0 0;
	text-align: center;
}

#alphabet li {
	display: inline;
	margin: 0 0.25em;
}

#alphabet a {
	font-weight: bold;
}

#index .caption,
#module-list .caption { font-size: 131%; /* 17pt */ }

#index table {
  margin-left: 2em;
}

#index .src {
  font-weight: bold;
}
#index .alt {
  font-size: 77%; /* 10pt */
  font-style: italic;
  padding-left: 2em;
}

#index td + td {
  padding-left: 1em;
}

#module-list ul {
  list-style: none;
  margin: 0 0 0 2em;
}

#module-list .package {
  float: right;
}

/* @end */
