*.hi
*.nix
*.o
*.p_hi
*.prof
*.tix
.hpc/
/dist/*
GNUmakefile
dist-install
ghc.mk
.stack-work
.cabal-sandbox/
cabal.sandbox.config
/benchmarks/bench-Map
/benchmarks/bench-Set
/benchmarks/bench-IntSet
/benchmarks/bench-IntMap
/benchmarks/bench-Sequence
/benchmarks/SetOperations/bench-*
/result
/TAGS
