	Fri Oct 30 17:14 2015 Time and Allocation Profiling Report  (Final)

	   ioprof +RTS -hc -p -RTS

	total time  =        0.00 secs   (0 ticks @ 1000 us, 1 processor)
	total alloc =      63,680 bytes  (excludes profiling overheads)

COST CENTRE MODULE            %time %alloc

CAF         GHC.IO.Handle.FD    0.0   54.2
CAF         GHC.IO.Encoding     0.0    5.2
CAF         GHC.Exception       0.0    1.2
CAF         GHC.Conc.Signal     0.0    1.0
main        Main                0.0   13.6
errorM.\    Main                0.0   19.8
CAF         Main                0.0    2.6


                                                            individual      inherited
COST CENTRE        MODULE                no.     entries  %time %alloc   %time %alloc

MAIN               MAIN                  102           0    0.0    1.0     0.0  100.0
 main              Main                  205           0    0.0   13.5     0.0   13.5
 CAF               Main                  203           0    0.0    2.6     0.0   23.2
  fmap             Main                  212           1    0.0    0.0     0.0    0.0
  <*>              Main                  208           1    0.0    0.0     0.0    0.0
  main             Main                  204           1    0.0    0.2     0.0   20.6
   runM            Main                  206           1    0.0    0.3     0.0   20.4
    bar            Main                  207           1    0.0    0.2     0.0   20.1
     foo           Main                  216           1    0.0    0.0     0.0    0.0
      errorM       Main                  217           1    0.0    0.0     0.0    0.0
     fmap          Main                  213           0    0.0    0.0     0.0    0.0
      >>=          Main                  214           1    0.0    0.0     0.0    0.0
     <*>           Main                  209           0    0.0    0.0     0.0   19.8
      >>=          Main                  210           1    0.0    0.0     0.0   19.8
       >>=.\       Main                  211           2    0.0    0.0     0.0   19.8
        foo        Main                  218           0    0.0    0.0     0.0   19.8
         errorM    Main                  219           0    0.0    0.0     0.0   19.8
          errorM.\ Main                  220           1    0.0   19.8     0.0   19.8
        fmap       Main                  215           0    0.0    0.0     0.0    0.0
 CAF               GHC.Conc.Signal       197           0    0.0    1.0     0.0    1.0
 CAF               GHC.Conc.Sync         196           0    0.0    0.4     0.0    0.4
 CAF               GHC.Exception         194           0    0.0    1.2     0.0    1.2
 CAF               GHC.IO.Encoding       187           0    0.0    5.2     0.0    5.2
 CAF               GHC.IO.Encoding.Iconv 185           0    0.0    0.4     0.0    0.4
 CAF               GHC.IO.Handle.FD      177           0    0.0   54.2     0.0   54.2
