	Thu Apr  2 19:44 2015 Time and Allocation Profiling Report  (Final)

	   profinline001 +RTS -p -RTS

	total time  =        0.00 secs   (0 ticks @ 1000 us, 1 processor)
	total alloc =      49,056 bytes  (excludes profiling overheads)

COST CENTRE MODULE            %time %alloc

MAIN        MAIN                0.0    1.4
CAF         GHC.IO.Handle.FD    0.0   70.4
CAF         GHC.IO.Encoding     0.0    5.6
CAF         GHC.Conc.Signal     0.0    1.3
main        Main                0.0   19.5


                                                     individual      inherited
COST CENTRE MODULE                no.     entries  %time %alloc   %time %alloc

MAIN        MAIN                   99           0    0.0    1.4     0.0  100.0
 CAF        Main                  197           0    0.0    0.7     0.0   20.5
  main      Main                  198           1    0.0   19.5     0.0   19.8
   f        Main                  199           1    0.0    0.3     0.0    0.4
    g       Main                  200           1    0.0    0.0     0.0    0.0
 CAF        GHC.Conc.Signal       179           0    0.0    1.3     0.0    1.3
 CAF        GHC.IO.Encoding       163           0    0.0    5.6     0.0    5.6
 CAF        GHC.IO.Encoding.Iconv 161           0    0.0    0.5     0.0    0.5
 CAF        GHC.IO.Handle.FD      152           0    0.0   70.4     0.0   70.4
 CAF        GHC.IO.Handle.Text    150           0    0.0    0.2     0.0    0.2
