	Thu Apr  2 19:44 2015 Time and Allocation Profiling Report  (Final)

	   scc002 +RTS -p -RTS

	total time  =        0.01 secs   (7 ticks @ 1000 us, 1 processor)
	total alloc =   8,049,712 bytes  (excludes profiling overheads)

COST CENTRE MODULE  %time %alloc

big         Main    100.0   99.4


                                                     individual      inherited
COST CENTRE MODULE                no.     entries  %time %alloc   %time %alloc

MAIN        MAIN                  113           0    0.0    0.0   100.0  100.0
 CAF        Main                  225           0    0.0    0.0   100.0   99.5
  yan       Main                  227           1    0.0    0.0   100.0   99.4
   yan.e    Main                  231           1    0.0    0.0   100.0   99.4
    big     Main                  232           1  100.0   99.4   100.0   99.4
  main      Main                  226           1    0.0    0.1     0.0    0.1
   yan      Main                  228           0    0.0    0.0     0.0    0.0
    yan.\   Main                  229           2    0.0    0.0     0.0    0.0
     yan1   Main                  230           2    0.0    0.0     0.0    0.0
 CAF        GHC.Conc.Signal       196           0    0.0    0.0     0.0    0.0
 CAF        GHC.IO.Encoding       179           0    0.0    0.0     0.0    0.0
 CAF        GHC.IO.Encoding.Iconv 177           0    0.0    0.0     0.0    0.0
 CAF        GHC.IO.Handle.FD      168           0    0.0    0.4     0.0    0.4
 CAF        GHC.IO.Handle.Text    166           0    0.0    0.0     0.0    0.0
