	Sat Jun  4 11:59 2016 Time and Allocation Profiling Report  (Final)

	   scc002 +RTS -hc -p -RTS

	total time  =        0.01 secs   (6 ticks @ 1000 us, 1 processor)
	total alloc =   8,048,752 bytes  (excludes profiling overheads)

COST CENTRE MODULE SRC                %time %alloc

big         Main   scc002.hs:24:1-57  100.0   99.4


                                                                        individual      inherited
COST CENTRE MODULE                SRC                no.     entries  %time %alloc   %time %alloc

MAIN        MAIN                  <built-in>          44          0    0.0    0.0   100.0  100.0
 CAF        Main                  <entire-module>     87          0    0.0    0.0   100.0   99.4
  main      Main                  scc002.hs:7:1-30    88          1    0.0    0.0     0.0    0.0
   yan      Main                  scc002.hs:26:1-52   91          0    0.0    0.0     0.0    0.0
    yan.\   Main                  scc002.hs:26:31-52  92          2    0.0    0.0     0.0    0.0
     yan1   Main                  scc002.hs:26:48-52  93          2    0.0    0.0     0.0    0.0
  yan       Main                  scc002.hs:26:1-52   90          1    0.0    0.0   100.0   99.4
   yan.e    Main                  scc002.hs:26:11-20  94          1    0.0    0.0   100.0   99.4
    big     Main                  scc002.hs:24:1-57   95          1  100.0   99.4   100.0   99.4
 CAF        GHC.IO.Handle.FD      <entire-module>     81          0    0.0    0.4     0.0    0.4
 CAF        GHC.IO.Handle.Text    <entire-module>     80          0    0.0    0.0     0.0    0.0
 CAF        GHC.Conc.Signal       <entire-module>     77          0    0.0    0.0     0.0    0.0
 CAF        GHC.IO.Encoding       <entire-module>     75          0    0.0    0.0     0.0    0.0
 CAF        GHC.IO.Encoding.Iconv <entire-module>     61          0    0.0    0.0     0.0    0.0
 main       Main                  scc002.hs:7:1-30    89          0    0.0    0.1     0.0    0.1
