	Wed Mar 29 06:17 2017 Time and Allocation Profiling Report  (Final)

	   scc001 +RTS -hc -p -RTS

	total time  =        0.00 secs   (0 ticks @ 1000 us, 1 processor)
	total alloc =      50,856 bytes  (excludes profiling overheads)

COST CENTRE MODULE           SRC                     %time %alloc

MAIN        MAIN             <built-in>                0.0    1.6
CAF         GHC.IO.Handle.FD <entire-module>           0.0   68.3
CAF         GHC.IO.Encoding  <entire-module>           0.0    5.4
CAF         GHC.Conc.Signal  <entire-module>           0.0    1.3
main        Main             scc001.hs:(5,1)-(7,23)    0.0   22.2


                                                                             individual      inherited
COST CENTRE  MODULE                SRC                    no.     entries  %time %alloc   %time %alloc

MAIN         MAIN                  <built-in>             111          0    0.0    1.6     0.0  100.0
 CAF         Main                  <entire-module>        221          0    0.0    0.0     0.0    0.6
  (...)      Main                  scc001.hs:16:1-16      227          1    0.0    0.0     0.0    0.0
  main       Main                  scc001.hs:(5,1)-(7,23) 222          1    0.0    0.5     0.0    0.5
   h         Main                  scc001.hs:16:1-16      226          1    0.0    0.0     0.0    0.0
   f         Main                  scc001.hs:10:1-7       224          1    0.0    0.0     0.0    0.0
   g         Main                  scc001.hs:13:1-7       225          1    0.0    0.0     0.0    0.0
 CAF         GHC.Conc.Signal       <entire-module>        216          0    0.0    1.3     0.0    1.3
 CAF         GHC.IO.Encoding       <entire-module>        206          0    0.0    5.4     0.0    5.4
 CAF         GHC.IO.Encoding.Iconv <entire-module>        204          0    0.0    0.4     0.0    0.4
 CAF         GHC.IO.Handle.FD      <entire-module>        196          0    0.0   68.3     0.0   68.3
 CAF         GHC.IO.Handle.Text    <entire-module>        194          0    0.0    0.2     0.0    0.2
 CAF         GHC.Show              <entire-module>        179          0    0.0    0.6     0.0    0.6
 main        Main                  scc001.hs:(5,1)-(7,23) 223          0    0.0   21.7     0.0   21.7
