	Fri Feb 24 15:04 2017 Time and Allocation Profiling Report  (Final)

	   scc001 +RTS -hc -p -RTS

	total time  =        0.00 secs   (0 ticks @ 1000 us, 1 processor)
	total alloc =      51,400 bytes  (excludes profiling overheads)

COST CENTRE MODULE           SRC                     %time %alloc

MAIN        MAIN             <built-in>                0.0    1.6
CAF         GHC.Show         <entire-module>           0.0    1.1
CAF         GHC.IO.Handle.FD <entire-module>           0.0   67.6
CAF         GHC.IO.Encoding  <entire-module>           0.0    5.4
CAF         GHC.Conc.Signal  <entire-module>           0.0    1.2
main        Main             scc001.hs:(5,1)-(7,23)    0.0   22.4


                                                                             individual      inherited
COST CENTRE  MODULE                SRC                    no.     entries  %time %alloc   %time %alloc

MAIN         MAIN                  <built-in>             110          0    0.0    1.6     0.0  100.0
 CAF         Main                  <entire-module>        219          0    0.0    0.1     0.0    0.9
  (...)      Main                  scc001.hs:16:1-16      225          1    0.0    0.0     0.0    0.0
  main       Main                  scc001.hs:(5,1)-(7,23) 220          1    0.0    0.9     0.0    0.9
   f         Main                  scc001.hs:10:1-7       222          1    0.0    0.0     0.0    0.0
   g         Main                  scc001.hs:13:1-7       223          1    0.0    0.0     0.0    0.0
   h         Main                  scc001.hs:16:1-16      224          1    0.0    0.0     0.0    0.0
 CAF         GHC.Conc.Signal       <entire-module>        214          0    0.0    1.2     0.0    1.2
 CAF         GHC.IO.Encoding       <entire-module>        204          0    0.0    5.4     0.0    5.4
 CAF         GHC.IO.Encoding.Iconv <entire-module>        202          0    0.0    0.4     0.0    0.4
 CAF         GHC.IO.Handle.FD      <entire-module>        194          0    0.0   67.6     0.0   67.6
 CAF         GHC.IO.Handle.Text    <entire-module>        192          0    0.0    0.2     0.0    0.2
 CAF         GHC.Show              <entire-module>        177          0    0.0    1.1     0.0    1.1
 main        Main                  scc001.hs:(5,1)-(7,23) 221          0    0.0   21.6     0.0   21.6
