	Thu Apr  2 19:44 2015 Time and Allocation Profiling Report  (Final)

	   T680 +RTS -p -RTS

	total time  =        0.20 secs   (203 ticks @ 1000 us, 1 processor)
	total alloc = 449,665,336 bytes  (excludes profiling overheads)

COST CENTRE MODULE  %time %alloc

foo.\       Main    100.0   99.8


                                                              individual      inherited
COST CENTRE          MODULE                no.     entries  %time %alloc   %time %alloc

MAIN                 MAIN                  103           0    0.0    0.0   100.0  100.0
 CAF                 Main                  205           0    0.0    0.0   100.0  100.0
  k                  Main                  208           1    0.0    0.0     0.0    0.0
   foo               Main                  209           1    0.0    0.0     0.0    0.0
    foo.bar          Main                  213           1    0.0    0.0     0.0    0.0
     foo.bar.k'      Main                  217           1    0.0    0.0     0.0    0.0
      k.\            Main                  218           1    0.0    0.0     0.0    0.0
  r                  Main                  207           1    0.0    0.0   100.0  100.0
   k                 Main                  210           0    0.0    0.0   100.0  100.0
    foo              Main                  211           0    0.0    0.0   100.0  100.0
     foo.bar         Main                  214           0    0.0    0.0     0.0    0.1
      foo.bar.k'     Main                  219           0    0.0    0.0     0.0    0.0
      foo.bar.\      Main                  215        4001    0.0    0.1     0.0    0.1
       foo.bar.\.k'' Main                  216        4000    0.0    0.0     0.0    0.0
     foo.\           Main                  212        4001  100.0   99.8   100.0   99.8
  main               Main                  206           1    0.0    0.0     0.0    0.0
 CAF                 GHC.Conc.Signal       184           0    0.0    0.0     0.0    0.0
 CAF                 GHC.IO.Encoding       167           0    0.0    0.0     0.0    0.0
 CAF                 GHC.IO.Encoding.Iconv 165           0    0.0    0.0     0.0    0.0
 CAF                 GHC.IO.Handle.FD      156           0    0.0    0.0     0.0    0.0
 CAF                 GHC.IO.Handle.Text    154           0    0.0    0.0     0.0    0.0
 CAF                 GHC.Show              141           0    0.0    0.0     0.0    0.0
