	Wed Feb 21 08:47 2024 Time and Allocation Profiling Report  (Final)

	   CallerCc1 +RTS -hc -p -RTS 7

	total time  =        0.06 secs   (64 ticks @ 1000 us, 1 processor)
	total alloc = 104,890,152 bytes  (excludes profiling overheads)

COST CENTRE    MODULE    SRC                        %time %alloc

disin          Main      Main.hs:(74,1)-(83,11)      43.8   49.8
clause.clause' Main      Main.hs:(63,12)-(65,57)     23.4   37.7
insert         Main      Main.hs:(108,1)-(112,8)     18.8    1.7
tautclause     Main      Main.hs:173:1-49             6.2    3.7
conjunct       Main      Main.hs:(70,1)-(71,18)       4.7    0.0
disin.dp       Main      Main.hs:80:3-14              1.6    0.0
clause         Main      Main.hs:(61,1)-(65,57)       1.6    1.4
unicl.unicl'   Main      Main.hs:(178,11)-(180,36)    0.0    2.0
unicl          Main      Main.hs:(176,1)-(180,36)     0.0    1.1
split.split'   Main      Main.hs:(165,11)-(166,28)    0.0    2.3


                                                                                                                                       individual      inherited
COST CENTRE                                                MODULE                         SRC                       no.     entries  %time %alloc   %time %alloc

MAIN                                                       MAIN                           <built-in>                138           0    0.0    0.0   100.0  100.0
 CAF                                                       Main                           <entire-module>           275           0    0.0    0.0     0.0    0.0
  clauses                                                  Main                           Main.hs:68:1-74           282           1    0.0    0.0     0.0    0.0
   Main.clauses(calling:GHC.Internal.Data.Foldable.concat) Main                           Main.hs:68:1-7            284           1    0.0    0.0     0.0    0.0
  main                                                     Main                           Main.hs:(42,1)-(44,23)    276           1    0.0    0.0     0.0    0.0
  redstar                                                  Main                           Main.hs:155:1-35          300           1    0.0    0.0     0.0    0.0
  spaces                                                   Main                           Main.hs:160:1-19          324           1    0.0    0.0     0.0    0.0
 CAF                                                       GHC.Internal.Conc.Signal       <entire-module>           264           0    0.0    0.0     0.0    0.0
 CAF                                                       GHC.Internal.IO.Encoding       <entire-module>           254           0    0.0    0.0     0.0    0.0
 CAF                                                       GHC.Internal.IO.Encoding.Iconv <entire-module>           252           0    0.0    0.0     0.0    0.0
 CAF                                                       GHC.Internal.IO.Handle.FD      <entire-module>           244           0    0.0    0.0     0.0    0.0
 main                                                      Main                           Main.hs:(42,1)-(44,23)    277           0    0.0    0.0   100.0  100.0
  main.\                                                   Main                           Main.hs:44:3-23           278           1    0.0    0.0   100.0  100.0
   res                                                     Main                           Main.hs:(46,1)-(48,26)    279           1    0.0    0.0   100.0   99.9
    Main.main(calling:GHC.Internal.Data.Foldable.concat)   Main                           Main.hs:42:1-4            280           1    0.0    0.0     0.0    0.0
    res.xs                                                 Main                           Main.hs:47:8-69           281           1    0.0    0.0     0.0    0.0
    clauses                                                Main                           Main.hs:68:1-74           283           0    0.0    0.0   100.0   99.9
     disin                                                 Main                           Main.hs:(74,1)-(83,11)    288      857598   43.8   49.8    50.0   49.8
      conjunct                                             Main                           Main.hs:(70,1)-(71,18)    312      759353    4.7    0.0     4.7    0.0
      disin.dp                                             Main                           Main.hs:80:3-14           313      380009    1.6    0.0     1.6    0.0
      disin.dq                                             Main                           Main.hs:81:3-14           314      380009    0.0    0.0     0.0    0.0
     negin                                                 Main                           Main.hs:(119,1)-(124,11)  289        1617    0.0    0.1     0.0    0.1
     elim                                                  Main                           Main.hs:(89,1)-(94,57)    290        1393    0.0    0.1     0.0    0.1
     disp                                                  Main                           Main.hs:86:1-71           322           7    0.0    0.0     0.0    0.0
      interleave                                           Main                           Main.hs:(115,1)-(116,25)  323          35    0.0    0.0     0.0    0.0
     parse                                                 Main                           Main.hs:135:1-39          291           7    0.0    0.0     0.0    0.0
      parse.(...)                                          Main                           Main.hs:135:19-39         293           7    0.0    0.0     0.0    0.0
       parse'                                              Main                           Main.hs:(137,1)-(145,42)  294         280    0.0    0.0     0.0    0.0
        opri                                               Main                           Main.hs:(127,1)-(132,12)  297          56    0.0    0.0     0.0    0.0
        spri                                               Main                           Main.hs:(169,1)-(170,10)  295          56    0.0    0.0     0.0    0.0
         opri                                              Main                           Main.hs:(127,1)-(132,12)  296          49    0.0    0.0     0.0    0.0
        parse'.(...)                                       Main                           Main.hs:142:20-49         299          21    0.0    0.0     0.0    0.0
         redstar                                           Main                           Main.hs:155:1-35          301           0    0.0    0.0     0.0    0.0
          spri                                             Main                           Main.hs:(169,1)-(170,10)  303          63    0.0    0.0     0.0    0.0
           opri                                            Main                           Main.hs:(127,1)-(132,12)  304          63    0.0    0.0     0.0    0.0
          while                                            Main                           Main.hs:182:1-48          302          63    0.0    0.0     0.0    0.0
           red                                             Main                           Main.hs:(148,1)-(152,43)  305          42    0.0    0.0     0.0    0.0
        parse'.s'                                          Main                           Main.hs:142:20-49         306          21    0.0    0.0     0.0    0.0
        parse'.x                                           Main                           Main.hs:142:20-49         298          21    0.0    0.0     0.0    0.0
        redstar                                            Main                           Main.hs:155:1-35          307           0    0.0    0.0     0.0    0.0
         spri                                              Main                           Main.hs:(169,1)-(170,10)  309          21    0.0    0.0     0.0    0.0
          opri                                             Main                           Main.hs:(127,1)-(132,12)  310          14    0.0    0.0     0.0    0.0
         while                                             Main                           Main.hs:182:1-48          308          21    0.0    0.0     0.0    0.0
          red                                              Main                           Main.hs:(148,1)-(152,43)  311          14    0.0    0.0     0.0    0.0
      parse.f                                              Main                           Main.hs:135:19-39         292           7    0.0    0.0     0.0    0.0
     split                                                 Main                           Main.hs:(163,1)-(166,28)  286           7    0.0    0.0     0.0    2.3
      split.split'                                         Main                           Main.hs:(165,11)-(166,28) 287       74837    0.0    2.3     0.0    2.3
     unicl                                                 Main                           Main.hs:(176,1)-(180,36)  285           7    0.0    1.1    50.0   47.7
      unicl.unicl'                                         Main                           Main.hs:(178,11)-(180,36) 315       37422    0.0    2.0    50.0   46.6
       tautclause                                          Main                           Main.hs:173:1-49          316       37422    6.2    3.7     6.2    3.7
       unicl.unicl'.cp                                     Main                           Main.hs:180:24-36         317       37422    0.0    0.0    43.8   40.9
        clause                                             Main                           Main.hs:(61,1)-(65,57)    318       37422    1.6    1.4    43.8   40.9
         clause.clause'                                    Main                           Main.hs:(63,12)-(65,57)   319      696150   23.4   37.7    42.2   39.5
          insert                                           Main                           Main.hs:(108,1)-(112,8)   320      366786   18.8    1.7    18.8    1.7
       insert                                              Main                           Main.hs:(108,1)-(112,8)   321           7    0.0    0.0     0.0    0.0
