	Fri Nov 13 01:06 2020 Time and Allocation Profiling Report  (Final)

	   CallerCc1 +RTS -hc -p -RTS 7

	total time  =        0.09 secs   (87 ticks @ 1000 us, 1 processor)
	total alloc = 105,486,200 bytes  (excludes profiling overheads)

COST CENTRE    MODULE    SRC                        %time %alloc

disin          Main      Main.hs:(74,1)-(83,11)      35.6   49.5
insert         Main      Main.hs:(108,1)-(112,8)     21.8    1.7
clause.clause' Main      Main.hs:(63,12)-(65,57)     17.2   37.5
unicl.unicl'   Main      Main.hs:(178,11)-(180,36)    6.9    2.6
conjunct       Main      Main.hs:(70,1)-(71,18)       5.7    0.0
split.split'   Main      Main.hs:(165,11)-(166,28)    3.4    2.3
disin.dp       Main      Main.hs:80:3-14              3.4    0.0
unicl          Main      Main.hs:(176,1)-(180,36)     2.3    1.1
tautclause     Main      Main.hs:173:1-49             2.3    3.7
disin.dq       Main      Main.hs:81:3-14              1.1    0.0
clause         Main      Main.hs:(61,1)-(65,57)       0.0    1.4


                                                                                                                 individual      inherited
COST CENTRE                                   MODULE                SRC                       no.     entries  %time %alloc   %time %alloc

MAIN                                          MAIN                  <built-in>                128           0    0.0    0.0   100.0  100.0
 CAF                                          Main                  <entire-module>           255           0    0.0    0.0     0.0    0.0
  clauses                                     Main                  Main.hs:68:1-74           261           1    0.0    0.0     0.0    0.0
   Main.clauses(calling:Data.Foldable.concat) Main                  Main.hs:68:1-7            263           1    0.0    0.0     0.0    0.0
  main                                        Main                  Main.hs:(42,1)-(44,23)    256           1    0.0    0.0     0.0    0.0
  redstar                                     Main                  Main.hs:155:1-35          279           1    0.0    0.0     0.0    0.0
  spaces                                      Main                  Main.hs:160:1-19          303           1    0.0    0.0     0.0    0.0
 CAF                                          GHC.Conc.Signal       <entire-module>           246           0    0.0    0.0     0.0    0.0
 CAF                                          GHC.IO.Encoding       <entire-module>           235           0    0.0    0.0     0.0    0.0
 CAF                                          GHC.IO.Encoding.Iconv <entire-module>           233           0    0.0    0.0     0.0    0.0
 CAF                                          GHC.IO.Handle.FD      <entire-module>           225           0    0.0    0.0     0.0    0.0
 main                                         Main                  Main.hs:(42,1)-(44,23)    257           0    0.0    0.0   100.0  100.0
  res                                         Main                  Main.hs:(46,1)-(48,26)    258           1    0.0    0.0   100.0   99.9
   Main.main(calling:Data.Foldable.concat)    Main                  Main.hs:42:1-4            259           1    0.0    0.0     0.0    0.0
   res.xs                                     Main                  Main.hs:47:8-69           260           1    0.0    0.0     0.0    0.0
   clauses                                    Main                  Main.hs:68:1-74           262           0    0.0    0.0   100.0   99.9
    disin                                     Main                  Main.hs:(74,1)-(83,11)    267      857598   35.6   49.5    46.0   49.5
     conjunct                                 Main                  Main.hs:(70,1)-(71,18)    291      759353    5.7    0.0     5.7    0.0
     disin.dp                                 Main                  Main.hs:80:3-14           292      380009    3.4    0.0     3.4    0.0
     disin.dq                                 Main                  Main.hs:81:3-14           293      380009    1.1    0.0     1.1    0.0
    negin                                     Main                  Main.hs:(119,1)-(124,11)  268        1617    0.0    0.1     0.0    0.1
    elim                                      Main                  Main.hs:(89,1)-(94,57)    269        1393    0.0    0.1     0.0    0.1
    disp                                      Main                  Main.hs:86:1-71           301           7    0.0    0.0     0.0    0.0
     interleave                               Main                  Main.hs:(115,1)-(116,25)  302          35    0.0    0.0     0.0    0.0
    parse                                     Main                  Main.hs:135:1-39          270           7    0.0    0.0     0.0    0.0
     parse.(...)                              Main                  Main.hs:135:19-39         272           7    0.0    0.0     0.0    0.0
      parse'                                  Main                  Main.hs:(137,1)-(145,42)  273         280    0.0    0.0     0.0    0.0
       opri                                   Main                  Main.hs:(127,1)-(132,12)  276          56    0.0    0.0     0.0    0.0
       spri                                   Main                  Main.hs:(169,1)-(170,10)  274          56    0.0    0.0     0.0    0.0
        opri                                  Main                  Main.hs:(127,1)-(132,12)  275          49    0.0    0.0     0.0    0.0
       parse'.(...)                           Main                  Main.hs:142:20-49         278          21    0.0    0.0     0.0    0.0
        redstar                               Main                  Main.hs:155:1-35          280           0    0.0    0.0     0.0    0.0
         spri                                 Main                  Main.hs:(169,1)-(170,10)  282          63    0.0    0.0     0.0    0.0
          opri                                Main                  Main.hs:(127,1)-(132,12)  283          63    0.0    0.0     0.0    0.0
         while                                Main                  Main.hs:182:1-48          281          63    0.0    0.0     0.0    0.0
          red                                 Main                  Main.hs:(148,1)-(152,43)  284          42    0.0    0.0     0.0    0.0
       parse'.s'                              Main                  Main.hs:142:20-49         285          21    0.0    0.0     0.0    0.0
       parse'.x                               Main                  Main.hs:142:20-49         277          21    0.0    0.0     0.0    0.0
       redstar                                Main                  Main.hs:155:1-35          286           0    0.0    0.0     0.0    0.0
        spri                                  Main                  Main.hs:(169,1)-(170,10)  288          21    0.0    0.0     0.0    0.0
         opri                                 Main                  Main.hs:(127,1)-(132,12)  289          14    0.0    0.0     0.0    0.0
        while                                 Main                  Main.hs:182:1-48          287          21    0.0    0.0     0.0    0.0
         red                                  Main                  Main.hs:(148,1)-(152,43)  290          14    0.0    0.0     0.0    0.0
     parse.f                                  Main                  Main.hs:135:19-39         271           7    0.0    0.0     0.0    0.0
    split                                     Main                  Main.hs:(163,1)-(166,28)  265           7    0.0    0.0     3.4    2.3
     split.split'                             Main                  Main.hs:(165,11)-(166,28) 266       74837    3.4    2.3     3.4    2.3
    unicl                                     Main                  Main.hs:(176,1)-(180,36)  264           7    2.3    1.1    50.6   48.0
     unicl.unicl'                             Main                  Main.hs:(178,11)-(180,36) 294       37422    6.9    2.6    48.3   46.9
      tautclause                              Main                  Main.hs:173:1-49          295       37422    2.3    3.7     2.3    3.7
      unicl.unicl'.cp                         Main                  Main.hs:180:24-36         296       37422    0.0    0.0    39.1   40.6
       clause                                 Main                  Main.hs:(61,1)-(65,57)    297       37422    0.0    1.4    39.1   40.6
        clause.clause'                        Main                  Main.hs:(63,12)-(65,57)   298      696150   17.2   37.5    39.1   39.2
         insert                               Main                  Main.hs:(108,1)-(112,8)   299      366786   21.8    1.7    21.8    1.7
      insert                                  Main                  Main.hs:(108,1)-(112,8)   300           7    0.0    0.0     0.0    0.0
